<mat-card class="mt-5 pb-3">
  <mat-card-header class="font-weight-bold py-3">
    Toutes les parties en cours
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content>
    <mat-spinner *ngIf="loading" [diameter]="50" class="mx-auto my-3"></mat-spinner>
    <mat-list>
      <div *ngFor="let game of games">
        <mat-expansion-panel>
          <mat-expansion-panel-header [collapsedHeight]="'80px'">
            <mat-list-item>

              <mat-icon mat-list-icon>

                <img src="/assets/images/EU4_icon.png">

              </mat-icon>


              <h4 mat-line>{{game.title}}</h4>

              <p mat-line>
                <span>Sessions : {{game.sessions.length}}</span>
                <span class="ml-2">Nombre de joueurs : {{game.sessions.length}}</span>
              </p>

              <p mat-line *ngIf="game.start_hour && game.end_hour && game.day">
                <span *ngIf="game.day === 'MONDAY'">Lundi : </span>
                <span *ngIf="game.day === 'TUESDAY'">Mardi : </span>
                <span *ngIf="game.day === 'WEDNESDAY'">Mercredi : </span>
                <span *ngIf="game.day === 'THURSDAY'">Jeudi : </span>
                <span *ngIf="game.day === 'FRIDAY'">Vendredi : </span>
                <span *ngIf="game.day === 'SATURDAY'">Samedi : </span>
                <span *ngIf="game.day === 'SUNDAY'">Dimanche : </span>

                <span>{{game.start_hour}}h à {{game.end_hour}}h</span>
              </p>

            </mat-list-item>
          </mat-expansion-panel-header>

          <mat-divider></mat-divider>

          <mat-grid-list [cols]="1" [rowHeight]="50">
            <mat-grid-tile>
              <h4 class="mt-2">{{game.date.toLocaleDateString('fr-Fr', dateOptions)}}</h4>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list [cols]="2" [rowHeight]="50">
            <mat-grid-tile>
              <span class="font-weight-bold">Développement total : </span> {{game.dev_total}}
            </mat-grid-tile>
            <mat-grid-tile>
              <span class="font-weight-bold">Pertes totales : </span> {{game.losses_total}}
            </mat-grid-tile>
          </mat-grid-list>

          <h4 class="mt-2 text-center">Grandes puissances</h4>

          <mat-list class="float-left">

            <span *ngFor="let great_power of game.great_powers; let index = index; let even = even">
              <mat-list-item *ngIf="even">

                <span *ngIf="index == 0" class="ml-3 font-italic">1er</span>
                <span *ngIf="index != 0" class="ml-3 font-italic">{{index + 1}}ième</span>

                <mat-icon mat-list-icon class="mr-3">

                  <img src="assets/images/flags/{{great_power.tag}}.png" width="60" height="40" class="flag-icon">

                </mat-icon>

                <h4 mat-line>{{great_power.tag}}</h4>
                <p mat-line class="font-weight-bold"> {{great_power.points}} </p>

                <i *ngIf="great_power.change > 0" class="fas fa-arrow-up mx-3" style="color: green"></i>
                <i *ngIf="great_power.change == 0" class="fas fa-equals mx-3" style="color: #3c5a6e"></i>
                <i *ngIf="great_power.change < 0" class="fas fa-arrow-down mx-3" style="color: red"></i>

              </mat-list-item>
            </span>

          </mat-list>

          <mat-list class="float-right">

            <span *ngFor="let great_power of game.great_powers; let index = index; let odd = odd">
              <mat-list-item *ngIf="odd" class="text-right">

                <i mat-list-icon *ngIf="great_power.change > 0" class="fas fa-arrow-up" style="color: green; font-size: 16px"></i>
                <i mat-list-icon *ngIf="great_power.change == 0" class="fas fa-equals" style="color: #3c5a6e; font-size: 16px"></i>
                <i mat-list-icon *ngIf="great_power.change < 0" class="fas fa-arrow-down" style="color: red; font-size: 16px"></i>

                <span *ngIf="index == 0" mat-list-icon class="rank mr-3 ml-2 font-italic">1er</span>
                <span *ngIf="index != 0" mat-list-icon class="rank mr-3 ml-2 font-italic">{{index + 1}}ième</span>

                <h4 mat-line>{{great_power.tag}}</h4>
                <p mat-line class="font-weight-bold">{{great_power.points}}</p>

                <mat-icon class="left-icon mr-4">

                  <img src="assets/images/flags/{{great_power.tag}}.png" width="60" height="40" class="flag-icon">

                </mat-icon>

              </mat-list-item>
            </span>

          </mat-list>


          <img [src]="game.map_url" [style.width.%]="100">

        </mat-expansion-panel>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-card-content>
</mat-card>
