body {
  margin: 0;
}

.title {
  padding-left: 2.5%;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Berkshire Swash', sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.spacer {
  flex: 1 1 auto;
}
